@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/ptsans-400.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/ptsans-700.woff2") format("woff2");
   font-display: swap;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   margin: 0;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   font-family: "PT Sans", sans-serif;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   color: #000000;
   background-color: #F2F2F2;
}

.page-container {
   width: 1200px;
   margin: 0 auto;
   background-color: #FFFFFF;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.headline {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
}

.button {
   display: inline-block;
   border-radius: 4px;
   font-family: inherit;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   border: none;
   cursor: pointer;
   transition: opacity .3s ease-in-out;
}

.button:hover {
   opacity: 0.8;
}

.button-blue {
   background-color: #68A2CA;
}

.button-brown {
   background-color: #756157;
}

.button-favorite {
   background-color: #82B3D3;
}

.button-green {
   background-color: #7DB54F;
}



.field {
   box-sizing: border-box;
   background-color: #F2F2F2;
   font: inherit;
   font-size: 18px;
   line-height: 24px;
   border: 0;
}

/* Header */

.page-header {
   display: flex;
   padding: 0 70px;
   height: 64px;
}

.sedona-logo {
   position: relative;
   margin-right: 50px;
}

.navigation {
   display: flex;
   width: 650px;
}

.navigation-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
}

.navigation-item {
   padding: 0 16px;
}

.navigation-link {
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   font-weight: 700;
   text-align: center;
   text-decoration: none;
   display: flex;
   align-items: center;
   height: 100%;
   transition: border-bottom .3s ease-in-out;
   border-bottom: 2px solid transparent;
}

.navigation-link:hover,
.navigation-link.navigation-link-active {
   border-bottom-color: #756257;
}

.user-list {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   margin-left: auto;
   max-width: 300px;
   list-style: none;
}

.user-item:last-child {
   margin-left: 20px;
}

.user-link {
   display: flex;
   position: relative;
   min-width: 44px;
   min-height: 64px;
   color: inherit;
   text-decoration: none;
}

.user-icon {
   margin: auto;
   fill: #000000;
}

.user-heart {
   background-color: #7DB54F;
   min-width: 20px;
   height: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-size: 10px;
   line-height: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 20px;
   top: 11px;
   padding: 0 3px;
}

.user-item-button {
   padding: 8px 34px;
}

/* Main */

.main-container {
   flex-grow: 1;
}

.welcome-logo {
   display: block;
   margin: 0 auto;
}

.hero {
   background-color: #D9EAF2;
   background-image: url(../images/index-background.jpeg);
   background-repeat: no-repeat;
   background-size: 100% auto;
   min-height: 485px;
   max-width: 100%;
   padding-top: 51px;
}

/* Advantages */

.advantages {
   text-align: center;
   padding-top: 69px;

}

.advantages-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
}

.advantages-item {
   background-color: rgba(131, 179, 211, 0.12);
   width: 400px;
   height: 385px;
   padding: 112.5px 85px;
}

.container-about {
   padding: 0;
   width: 700px;
   margin: 0 auto;
}

.advantages-title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   margin: 0 0 25px;
}

.advantages-description {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   margin: 0 0 90px;

}

.advantages-item-title {
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   padding-bottom: 30px;
   margin: 0 auto 30px;
   position: relative;
   max-width: 175px;
}

.advantages-item-title::after {
   content: '';
   width: 60px;
   height: 2px;
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);

}

.advantages-item-description {
   font-size: 18px;
   line-height: 21px;
}

.advantages-item-white {
   color: #FFFFFF;
   background-color: #82B3D3;
   padding: 102px 85px;
}

.advantages-item-white .advantages-item-title::after {
   background-color: rgba(255, 255, 255, 0.3);
}


.advantages-item-gray {
   background-color: rgba(131, 179, 211, 0.2);
}

/* Services */

.services {
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: #FFFFFF;
}

.services-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.services-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 246px;
}

.services-title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   padding-top: 64px;
   margin: 0 0 20px;
}

.services-description {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   padding-bottom: 64px;
   margin: 0;
}

.services-item {
   background-color: rgba(131, 179, 211, 0.12);
   flex-basis: 33.33%;
   padding: 81px 85px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
   /* width: 400px;
  height: 385px; */
}

.services-item:nth-child(2) {
   background-color: transparent;
}

.services-item-title {
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   margin: 0;
}

.services-item-description {
   margin: 0;
   font-size: 18px;
   line-height: 21px;
}

/* Search hotels */

.search-hotels {
   padding: 96px 0;
   text-align: center;
}

.search-hotels-title {
   margin: 0 0 20px;
}

.search-hotels-description {
   max-width: 592px;
   margin: 0 auto 54px;
}

.button-search {
   display: block;
   box-sizing: border-box;
   margin: 0 auto;
   border-radius: 4px;
   width: 376px;
   padding: 8px 50px;
   background-color: #756157;
   font-size: 20px;
   line-height: 36px;
}

/* Subscribe */

.subscribe {
   text-align: center;
   padding: 96px 258px 104px;
}

.subscribe-main {
   background-color: #787d80;
   background-image: url(../images/subscribe.jpeg);
   background-repeat: no-repeat;
   background-size: 100% auto;
   color: #FFFFFF;

}

.subscribe-title {
   margin: 0 0 20px;
}

.subscribe-description {
   max-width: 475px;
   margin: 0 auto 54px;
}

.subscribe-form {
   display: flex;
   width: 684px;
   margin: 0 auto;
}

.subscribe-email {
   flex-grow: 1;
   padding: 11px 17px;
   border-radius: 4px 0 0 4px;
   border: 3px solid #F2F2F2;
}

.button-subscribe {
   padding: 8px 50px;
   background-color: #82B3D3;
   font-size: 20px;
   line-height: 36px;
   border-radius: 0 4px 4px 0;
}

.subscribe-field {
   flex-grow: 1;
   padding: 11px 17px;
   border-radius: 4px 0 0 4px;
   border: 3px solid #F2F2F2;
}

/* Footer */

.page-footer {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 40px 70px 30px;
}

.social-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin: 0;
   padding: 0;
   max-width: 200px;
   list-style: none;
}

.social-item {
   display: flex;
   width: 48px;
   height: 40px;
}

.social-link {
   display: flex;
   width: 48px;
   height: 40px;
   transition: opacity .3s ease-in-out;
}

.social-link:hover {
   opacity: 0.8;
}

.social-icon {
   margin: auto;
}

.footer-contacts {
   margin: 0 auto;
   padding: 5px 0;
}

.footer-contacts-address-phone {
   display: block;
   margin: 0 auto;
   font-style: normal;
   font-size: 40px;
   line-height: 40px;
   text-transform: uppercase;
   text-align: center;
   color: inherit;
   text-decoration: none;
   transition: opacity 0.3 ease-in-out;
}
.footer-contacts-address-phone:hover {
   opacity: 0.8;
}

.catalog-wrapper {
   background-color: #333333;
   background-image: url(../images/hotels-search.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 35px 70px 70px;
   color: white;
}

.catalog-title {
   font-size: 60px;
   font-weight: 700;
   line-height: 78px;
   margin: 0 0 8px;
}

.breadcrumbs {
   display: flex;
   gap: 10px;
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   margin: 0 0 40px;
   padding: 0;
}

.breadcrumbs-item:not(:last-child)::after {
   content: ">";
   padding-left: 10px;
}

.catalog-filter {
   display: flex;
   gap: 70px;
}

.catalog-filter-group {
   border: none;
   margin: 0;
   padding: 0;
}

.catalog-filter-title {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
   margin-bottom: 32px;
}

.catalog-filter-list {
   margin: 0;
   list-style: none;
   padding: 0;
}

.catalog-filter-item + .catalog-filter-item {
   margin-top: 17.5px;
}

.catalog-range {
   height: 20px;
   width: 100%;
   position: relative;
}

.catalog-range-bg,
.catalog-range-line {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 4px;
}

.catalog-range-bg {
   width: 100%;
   left: 0;
   right: 0;
   background-color: #626A6D;
}
.catalog-range-line {
   left: 0;
   right: 21%;
   background-color: #ffffff;
}

.catalog-range-dot-from,
.catalog-range-dot-to {
   background-color: #ffffff;
   width: 20px;
   height: 20px;
   border-radius: 5px;
   position: absolute;
   cursor: pointer;
}

.catalog-range-dot-from {
   left: 0;
}
.catalog-range-dot-to {
   right: 20%;
}

.control {
   font-size: 18px;
   line-height: 23px;
   position: relative;
   display: block;
   padding-left: 36px;
   cursor: pointer;
}

.control-mark {
   position: absolute;
   background-color: #ffffff;
   left: 0;
   top: 2px;
   width: 20px;
   height: 20px;
   border-radius: 4px;
}

.control:hover .control-mark {

   border-color: red;

}

.control-input:disabled + .control-mark {
   border-color: #242424;
}

/* Checkbox */

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
   content: "";
   position: absolute;
   background-image: url(../images/icons/checked.svg);
   width: 12px;
   height: 10px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}


/* Radio */

.control-input[type="radio"] + .control-mark {

   border-radius: 50%;

}

.control-input[type="radio"]:checked + .control-mark::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%px;
   width: 10px;
   height: 10px;
   background-color: #3F5E72;
   border-radius: 50%;
   transform: translate(50%, -50%);
}

.catalog-price {
   display: flex;
   margin-bottom: 32px;
}

.catalog-price-item {
   position: relative;
}

.catalog-price-input {
   width: 143px;
   height: 48px;
   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   padding: 12px 40px 12px 20px;
}

.catalog-price-label {
   position: absolute;
   color: #A9A9A9;
   right: 12px;
   top: 9px
}

.catalog-button-list {
   border: none;
   display: flex;
   flex-direction: column;
   width: 191px;
   gap: 32px;
   padding-top: 55px;

}

.catalog-button-submit {
   padding: 8px;
}

.catalog-button-reset {
   background-color: transparent;
   padding: 8px;
   font-size: 16px;
   line-height: 20px;
}

.catalog {
   padding: 50px 70px 60px;
}

.catalog-control {
   display: flex;
   align-items: center;
   gap: 70px;
   margin-bottom: 40px;
}

.catalog-control-title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   text-transform: uppercase;
   flex-grow: 1;
}

.catalog-control-sort {
   border: 2px solid #E5E5E5;
   border-radius: 4px;
   font-size: 18px;
   line-height: 21px;
   min-width: 292px;
   height: 49px;
   cursor: pointer;
   position: relative;
}

.catalog-control-sort::after {
   content: "";
   height: 7px;
   width: 7px;
   position: absolute;
   right: 20px;
   top: 50%;
   transform: rotate(45deg) translate(-100%);
   pointer-events: none;
   border-bottom: 2px solid #000000;
   border-right: 2px solid #000000;
}

.catalog-control-select {
   color: #333333;
   font-size: 18px;
   line-height: 21px;
   border: none;
   width: 100%;
   height: 100%;
   padding: 14px 45px 14px 20px;
   cursor: pointer;
   outline: none;
   overflow: hidden;
   appearance: none;
}

.catalog-view-type {
   display: flex;
   gap: 8px;
   margin: 0;
}

.catalog-view-link {
   width: 48px;
   height: 48px;
   border: 2px solid #E5E5E5;
   border-radius: 4px;
   display: block;
   transition: border-color .3s ease-in-out;
   background-repeat: no-repeat;
   background-position: center;
}

.catalog-view-link:hover,
.catalog-view-active {
   border-color: #000000;
}

.catalog-view-1 {
   background-image: url(../images/icons/View-1.svg);
}

.catalog-view-2 {
   background-image: url(../images/icons/View-2.svg);
}

.catalog-view-3 {
   background-image: url(../images/icons/View-3.svg);
}

.hotel-list {
   list-style: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0;
   gap: 20px;
   margin: 0 0 40px;
}

.hotel-card {
   padding: 19px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   border: 1px solid #E6E6E6;
   border-radius: 4px;
}

.hotel-card-link {
   text-decoration: none;
}

.hotel-card-image {
   margin-bottom: 16px;
}

.hotel-card-title {
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   margin: 0;
   color: #000000;
}

.hotel-card-type {
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   line-height: 21px;
}

.hotel-card-buttons {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.hotel-card-button {
   width: 140px;
   height: 36px;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-family: "PT Sans", sans-serif;
}

.hotel-card-ratings {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hotel-card-stars {
   height: 37px;
}

.hotel-card-rating {
   font-size: 16px;
   line-height: 20px;
}

.pagination {
   list-style: none;
   display: flex;
   gap: 8px;
   padding: 40px 0 0;
   margin: 0;
   border-top: 1px solid #E6E6E6;
}

.pagination-item {
   min-width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #82B3D3;
   border-radius: 4px;
   color: #ffffff;
   font-size: 20px;
   line-height: 36px;
   font-weight: 700;
   transition: opacity .3s ease-in-out;
}

.pagination-link {
   text-decoration: none;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: inherit;
}

.pagination-item:hover {
   opacity: 0.8;
}
.pagination-current {
   color: #000000;
   background-color: #F2F2F2;
}

.pagination-dots {
   background-color: transparent;
   color: #000000;
   pointer-events: none;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
}



.modal-container {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   width: 100%;
   height: 100%;
   background-color: rgba(242, 242, 242, 0.8);
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease-in-out;
 }

 .modal-container:target {
   opacity: 1;
   visibility: visible;
 }

 .modal {
   position: relative;
   margin: auto;
   padding: 64px 70px;
   background-color: #ffffff;
   box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
   border-radius: 30px;
   min-width: 717px;
 }

 .modal-close-button {
   position: absolute;
   padding: 0;
   top: 64px;
   right: 52px;
   width: 52px;
   height: 52px;
   background-color: #F2F2F2;
   border-radius: 50%;
   border: none;
   background-image: url("../images/icons/cross.svg");
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
 }

 .modal-title {
   margin: 0;
   margin-bottom: 64px;
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 30px;
   line-height: 36px;
   font-weight: 700;
   color: #000000;
   text-transform: uppercase;
 }

 .set-form {
   display: flex;
   flex-direction: column;
   gap: 23px;
 }

.set-form-item {
   display: flex;
   justify-content: space-between;
}

.set-form-label {
   font-size: 20px;
   line-height: 24px;
   font-weight: 700;
   flex-grow: 1;
}

.set-form-date-block {
   display: flex;
   flex-direction: column;
}

.set-form-date {
   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   width: 440px;
   padding: 12px 20px;
}

.set-form-info {
   font-size: 16px;
   line-height: 21px;
   padding-left: 20px;
}

.set-form-info.set-form-error {
   color: #FF5757;
}

.set-form-persons {
   display: flex;
   align-items: center;
   gap: 46px;
}

.set-form-button {
   background: #83B3D3;
   border-radius: 10px;
   height: 60px;
   margin-top: 25px;
}


.numbers {
   display: flex;
}

.numbers-minus,
.numbers-plus {
   width: 40px;
   height: 48px;
   color: #756157;
   border: none;
   font-size: 25px;
   background-repeat: no-repeat;
   background-position: center;
}

.numbers-minus {
   background-image: url(../images/icons/button-minus.svg);
}

.numbers-plus {
   background-image: url(../images/icons/button-plus.svg);
}

.numbers-current {
   width: 31px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: 700;
   background-color: #F2F2F2;
}

.tooltip {
   position: relative;
   width: 16px;
   height: 16px;
   margin-left: 10px;
}

.tooltip-toggle {
   border: none;
   background-color: #83B3D3;
   width: 26px;
   height: 26px;
   border-radius: 50%;
   cursor: help;
}

.tooltip-text {
   position: absolute;
   background-color: #333333;
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   padding: 15px 18px 18px 22px;
   color: #ffffff;
   font-size: 16px;
   line-height: 22px;
   font-weight: 400;
   left: 50%;
   transform: translateX(-50%);
   top: 160%;
   width: 256px;
   z-index: 2;
   display: none;
}
.tooltip-text::before {
   content: '';
   width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #333333;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: -10px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
   display: block;
}
